@mixin postmeta {
    padding: 0 5px;
    font-family: FontAwesome;
}

.article-area{
    flex: 4;
    background-color:#94cef7;
}

.article {
    padding: $block-spaces;

    h2.heading {
        font-family: $font-header;
        font-size: 2em;
        color: $color-primary-1;
        margin: 10px 30px;
    }

    .postmeta {
        display: flex;
        flex-direction: row;
        width: auto;
        color: $color-primary-1;

        &--box {
            padding: 0 20px;
        }

        .author {
            &:before {
                @include postmeta;
                content: '\f007';
            }
        }

        .clock {
            &:before {
                @include postmeta;
                content: '\f017';
            }
        }

        .comm {
            &:before {
                @include postmeta;
                content: '\f086';
            }
        }
    }

    .postblock {
        background-color: #fcfafa;
        margin: 20px 30px;
        padding: 10px 20px;

        &--images {
        }

        &--text {
        }
    }
}

