//colors

$color-primary-0: #92A8DC;	// Main Primary color */
$color-primary-1: #0938AE;
$color-primary-2: #325FCF;
$color-primary-3: #052577;
$color-primary-4: #010E30;

$color-secondary-1: #539dee;
$color-secondary-2: #539dee;
$color-secondary-3: #539dee;



$color-red: #f63c3c;
$color-blue:#539dee;
$color-brown-1: #30282a;
$color-brown-2: #4b3f42;
$color-brown-3: #352d2f;
$color-sub-head: #8e8889;
//fonts
$font-menu:'Play', sans-serif;
$font-header: 'Teko', sans-serif;
//margin-padding
$heading-gutter: 140px;
$block-spaces: 15px;

//breake points for media query
