aside.aside
    .widget
        ul.menu
            li.menu__item home
            li.menu__item blog
            li.menu__item news
    .widget
        p some text
    .widget
        ul.menu
            li.menu__item contact me
            li.menu__item facebook
    .widget
        ul.menu.menu--social
            li facebook
            li twiter
            li google me
    .widget
        ul.menu
            li.menu__item home
            li.menu__item blog
            li.menu__item news
    .widget
        p some text
    .widget
        ul.menu
            li.menu__item contact me
            li.menu__item facebook
    .widget
        ul.menu.menu--social
            li facebook
            li twiter
            li google me
    .widget
        ul.menu
            li.menu__item home
            li.menu__item blog
            li.menu__item news
    .widget
        p some text
    .widget
        ul.menu
            li.menu__item contact me
            li.menu__item facebook
    .widget
        ul.menu.menu--social
            li facebook
            li twiter
            li google me