.logo-box
    .logo
.h-menu
    ul.menu
        li.menu__item
            a(href='#') main
        li.menu__item
            a(href='#') about me
        li.menu__item
            a(href='#') my dreams
        li.menu__item
            a(href='#') my jobs
        li.menu__item
            a(href='#') how me find
        
        