.carousel(data-flickity='{ "imagesLoaded": true, "percentPosition": false, "autoPlay": 1500, "wrapAround": true}')
  .carousel-cell
    img(src="images/slider-img/slide-01.jpg")
  .carousel-cell
    img(src="images/slider-img/slide-02.jpg")
  .carousel-cell
    img(src="images/slider-img/slide-03.jpg")
  .carousel-cell
    img(src="images/slider-img/slide-04.jpg")
  .carousel-cell
    img(src="images/slider-img/slide-05.jpg")
  .carousel-cell
    img(src="images/slider-img/slide-06.jpg")
  