doctype html
html(lang="en")
    include _head.pug
    body
        include _heading.pug
        include _slider.pug
        include _main.pug
        include _footer.pug
        script(src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js")